<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rhythm Realm</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script>
        toastr.options = {
            "closeButton": true,
            "debug": false,
            "newestOnTop": true,
            "progressBar": true,
            "positionClass": "toast-top-right",
            "preventDuplicates": false,
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "2000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        };

        document.addEventListener("DOMContentLoaded", () => {
            const slides = document.querySelectorAll(".slide");
            const overlayTexts = document.querySelectorAll(".overlay-text");
            const sliderContainer = document.querySelector(".slider-container");
            let currentIndex = 0;
            const slideCount = slides.length;
            const sentences = [
                "We are Rhythm Realm.",
                "We are creators.",
                "We are collaborators.",
                "We are passionate.",
                "We are united by sound.",
                "We are Rhythm Realm."
            ];

            const typeText = (text, callback) => {
                const overlayText = overlayTexts[currentIndex];
                let i = 0;

                const type = () => {
                if (i < text.length) {
                    overlayText.innerHTML  = text.substring(0, i + 1) + `<span class="blinking-cursor">|</span>`;
                    i++;
                    setTimeout(type, 100);
                } else {
                    callback();
                }
                };

                type();
            };

            const backspaceText = (callback) => {
                const overlayText = overlayTexts[currentIndex];
                const text = overlayText.textContent;
                let i = text.length;

                const backspace = () => {
                if (i > 7) {
                    overlayText.innerHTML  = text.substring(0, i - 1) + `<span class="blinking-cursor">|</span>`;
                    i--;
                    setTimeout(backspace, 50);
                } else {
                    callback();
                }
                };

                backspace();
            };

            const moveSlides = () => {
                backspaceText(() => {
                    if (currentIndex < slideCount - 1) {
                        currentIndex++;
                    } else {
                        currentIndex = 0;
                    }
                    sliderContainer.style.transform = `translateX(-${currentIndex * 100}%)`;
                    typeText(sentences[currentIndex], () => {
                        if (currentIndex < slideCount - 1) {
                            setTimeout(moveSlides, 2000);
                        }
                    });
                });
            };

            typeText(sentences[currentIndex], () => {
                setTimeout(moveSlides, 2000);
            });
});
    </script>
</head>
<body>
    <div class="content">
        <div class="header">
            <div class="logo-container">
                <a href="/" class="logo">
                    <img src="images/logo.jpeg" alt="Rhythm Realm" class="logoImage">
                </a>
            </div>
            <p class="music-name">Rhythm Realm</p>
            <div class="header-right">
                <a class="active" href="/login">Login</a>
                <a class="sign-up" href="/signup">Sign Up</a>
            </div>
        </div> 
    </div>
    <section class="restaurant-info">
        <div class="slider">
            <div class="slider-container">
                <div class="slide">
                    <img src="images/drums.jpeg" alt="Image 1">
                    <div class="overlay-text overlay-text-special">We are Rhythm Realm.<span class="blinking-cursor">|</span></div>
                </div>
                <div class="slide">
                    <img src="images/guitar.jpg" alt="Image 2">
                    <div class="overlay-text overlay-text-normal">We are creators.<span class="blinking-cursor">|</span></div>
                </div>
                <div class="slide">
                    <img src="images/instruments.jpeg" alt="Image 3">
                    <div class="overlay-text overlay-text-normal">We are collaborators.<span class="blinking-cursor">|</span></div>
                </div>
                <div class="slide">
                    <img src="images/orchestra.png" alt="Image 4">
                    <div class="overlay-text overlay-text-normal">We are passionate.<span class="blinking-cursor">|</span></div>
                </div>
                <div class="slide">
                    <img src="images/music.jpeg" alt="Image 1">
                    <div class="overlay-text overlay-text-normal">We are united by sound.<span class="blinking-cursor">|</span></div>
                </div>
                <div class="slide">
                    <img src="images/musicClub.jpeg" alt="Image 1">
                    <div class="overlay-text overlay-text-special">We are Rhythm Realm.<span class="blinking-cursor">|</span></div>
                </div>
            </div>
        </div>
        <div class="info-content">
            <h1>Welcome to Delicious Bites</h1>
            <p>Welcome to Delicious Bites, nestled in the vibrant heart of the city. We invite you to indulge in a culinary journey like no other, where each dish is crafted with care using fresh, locally-sourced ingredients. Our menu celebrates a fusion of traditional flavors and innovative culinary techniques, offering a delightful blend of classic favorites and exciting new creations. Whether you're joining us for a casual lunch, a romantic dinner, or a special celebration, our commitment to quality and flavor ensures a memorable dining experience. Discover the essence of fine dining with us at Delicious Bites, where every bite tells a story of passion and excellence in food.</p>
            
            <div class="specialties">
                <h2>Our Specialties</h2>
                <ul>
                    <li><i class="fas fa-star"></i> Signature dishes crafted by our award-winning chefs</li>
                    <li><i class="fas fa-star"></i> Seasonal menus that highlight the best flavors of each season</li>
                    <li><i class="fas fa-star"></i> Extensive wine and cocktail selections to complement your meal</li>
                    <li><i class="fas fa-star"></i> Vegan and gluten-free options available</li>
                </ul>
            </div>
            
            <div class="ambiance">
                <h2>Ambiance</h2>
                <p>Experience our warm and inviting ambiance, perfect for intimate dinners, family gatherings, or special occasions. Our attentive staff ensures a memorable dining experience.</p>
            </div>
            
            <div class="services">
                <h2>Services</h2>
                <ul>
                    <li><i class="fas fa-concierge-bell"></i> Reservations available</li>
                    <li><i class="fas fa-wifi"></i> Free Wi-Fi</li>
                    <li><i class="fas fa-parking"></i> Valet parking service</li>
                    <li><i class="fas fa-gift"></i> Gift cards available</li>
                </ul>
            </div>
        </div>
    </section>
    <div class = "footer">
        <p>&copy; 2024 Rhythm Realm. All rights reserved.</p>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const failed = localStorage.getItem('failed');
            if(failed){
                toastr.error("Failed to fetch profile data. Login again.");
                localStorage.removeItem('failed');
            }
            const logout = localStorage.getItem('logout');
            if(logout){
                toastr.success("Logout Successful!");
                localStorage.removeItem('logout');
            }
        });
    </script>
</body>
</html>