.header {
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #ff8000; 
    color: #0056b3;
    height: 120px;
}

.header a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
}

.sign-up {
    background-color: #ddd;
}

.header-right a:hover {
    background-color: #bbb;
    color: black;
}
  
.header-right a.active {
    background-color: dodgerblue;
    color: white;
}
  
.header-right {
    float: right;
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 10px;
}

.menu-toggle {
    display: inline-block;
    cursor: pointer;
    user-select: none;
    position: relative;
}

.menu-toggle input {
    display: none;
}

.menu-toggle span {
    display: block;
    width: 30px;
    height: 5px;
    margin-bottom: 5px;
    background: #333;
    border-radius: 3px;
}

#menu {
    display: none;
    position: absolute;
    top: 40px;
    right: 0;
    width: 300px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    padding: 10px;
    list-style: none;
}

#menu li {
    margin-bottom: 10px;
}

#menu .btn {
    width: 100%;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logoImage {
    width: 100px;
    height: auto;
    margin-right: 10px;
}

.music-name {
    font-size: 4rem;
    margin-left: auto;
    color: darkblue;
}

.music-name-profile {
    font-size: 2rem;
    color: darkblue;
}

.music-info {
    background-color: #fff;
    padding: 50px 0;
    text-align: center;
}

.info-content {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 20px;
}

.music-info h1, .music-info h2 {
    color: #333;
    font-weight: 700;
    margin-bottom: 20px;
    position: relative;
}

.music-info h1::after, .music-info h2::after {
    content: "";
    display: block;
    width: 50px;
    height: 3px;
    background-color: #ff6347;
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
}

.music-info p {
    color: #666;
    font-size: 1.1rem;
    line-height: 1.8;
    margin-bottom: 30px;
}

.specialties ul, .ambiance, .services ul, .testimonials {
    text-align: left;
    margin-bottom: 30px;
}

.specialties ul li, .ambiance p, .services ul li {
    list-style-type: none;
    position: relative;
    padding-left: 20px;
    margin-bottom: 10px;
}

.specialties ul li::before, .ambiance p::before, .services ul li::before {
    content: "\f005";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    position: absolute;
    left: 0;
    top: 0;
    color: #ff6347;
}

.content {
    padding-bottom: 60px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    top:97%;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
}

.form-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
}

.form-container h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-container input[type="text"],
.form-container input[type="email"],
.form-container input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 3px;
}

.form-container button[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 3px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form-container button[type="submit"]:hover {
    background-color: #0056b3;
}

.form-container .error-message {
    color: red;
    text-align: center;
    margin-top: 10px;
}

.slider {
    flex: 1;
    overflow: hidden;
    position: relative;
}
  
.slider-container {
    display: flex;
    width: 100%;
    height: 100%;
    transition: transform 1s ease-in-out;
}
  
.slide {
    min-width: 100%;
    height: 100%;
    position: relative;
}
  
.slide img {
    width: 100%;
    height: 550px;
    object-fit: cover;
    position: relative;
}
  
.overlay-text {
    position: absolute;
    top: 50%;
    left: 2%;
    font-size: 35pt;
    white-space: nowrap;
    font-family: Arial, sans-serif;
    padding: 5px 10px;
    font-weight: bold;
}

.overlay-text-normal {
    color: white;
}

.overlay-text-special {
    color: black;
}

.blinking-cursor {
    font-weight: 100;
    font-size: 2em;
    color: rgb(14, 0, 63);
    animation: blink 1s infinite;
}
  
@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

.profile-info {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background: linear-gradient(135deg, #0000ff39 0%, #0033ff7c 100%);
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: 'Arial', sans-serif;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.profile-info:hover {
    transform: scale(1.02);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.user-details h2 {
    font-size: 26px;
    color: white;
    margin-bottom: 15px;
    text-align: center;
    border-bottom: 2px solid rgba(255, 255, 255, 0.3);
    padding-bottom: 10px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}

.user-details p {
    font-size: 18px;
    color: black;
    margin: 12px 0;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.user-details strong {
    color: rgb(255, 0, 43);
}

.user-details span {
    color: black;
}

.category {
    cursor: pointer;
    padding: 10px;
    background-color: #f1f1f1;
    border: 1px solid #ddd;
    margin-bottom: 5px;
}

.instruments-list {
    display: none;
    padding: 10px;
    border: 1px solid #ddd;
    margin-bottom: 5px;
}

.spinner-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.spinner {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.messagesContainer {
    padding: 20px;
    background-color: #f9f9f9;
}

.messagesContainer h2 {
    font-size: 24px;
    margin-bottom: 15px;
    color: #333;
    border-bottom: 2px solid #ccc;
    padding-bottom: 5px;
}

.message {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 15px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
}

.message:hover {
    background-color: #f0f8ff;
}

.message p {
    margin: 5px 0;
    font-size: 16px;
    color: #555;
}

.message strong {
    color: #333;
}

.message button {
    margin-right: 10px;
}

#sentMessages, #receivedMessages, #archivedMessages {
    margin-bottom: 20px;
}

#sentMessages p, #receivedMessages p, #archivedMessages p {
    font-style: italic;
    color: #888;
}

.eventsContainer {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    margin-top: 20px;
}

.eventsContainer h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 15px;
}

.event-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.event-card:hover {
    transform: scale(1.02);
}

.event-card h3 {
    font-size: 20px;
    margin-bottom: 10px;
    color: #007bff;
}

.event-card h2 {
    margin: 0 0 12px;
    font-size: 18px;
    color: #666;
}


.event-card p {
    font-size: 16px;
    color: #555;
    margin-bottom: 10px;
}

.event-card .btn {
    margin-top: 10px;
    margin-right: 5px;
}

.event-creator {
    font-style: italic;
    color: gray;
    font-size: 0.9em;
}

.event-rsvps {
    margin-top: 16px;
}

.event-rsvps h4 {
    margin: 0 0 8px;
    font-size: 18px;
    color: #333;
}

.event-rsvps ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.event-rsvps li {
    margin: 4px 0;
    font-size: 16px;
    color: #555;
}

#playlistForm {
    max-width: 600px;
    margin: 0 auto;
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
}

#playlistForm input[type="text"],
#playlistForm textarea {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

#playlistForm button[type="button"],
#playlistForm button[type="submit"] {
    padding: 10px 20px;
    margin: 10px 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#playlistForm button[type="button"] {
    background-color: #28a745;
    color: white;
}

#playlistForm button[type="submit"] {
    background-color: #007bff;
    color: white;
}

.track-div {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
}

.track-div input[type="text"] {
    width: calc(100% - 20px);
    padding: 8px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.remove-track {
    display: inline-block;
    margin-top: 10px;
    color: red;
    cursor: pointer;
    font-weight: bold;
}

.remove-track:hover {
    text-decoration: underline;
}